@model IEnumerable<InvoiceAppDemo.ViewModels.Invoice.InvoiceWithPricesViewModel>

@{
    ViewBag.Title = "Fakture";
}

<h2>Prikaz svih faktura</h2>

<p>
    <span>
        <button type="button" 
                class="btn btn-info" 
                onclick="location.href = '@Url.Action("Create", "Invoices")'" 
                data-toggle="tooltip" 
                title="Dodaj fakturu"><span class="glyphicon glyphicon-plus"></span></button>
    </span>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoicePaymentDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceReceiver)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaxPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWithoutTax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalWithTax)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoicePaymentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvoiceReceiver)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaxPercentage) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWithoutTax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalWithTax)
        </td>
        <td>
            <span>
                <a href="@Url.Action("Edit", new { id = item.Id })" 
                   data-toggle="tooltip" title="Uredi fakturu"><span class="glyphicon glyphicon-pencil"></span></a>
            </span>
            <span>
                <a href="@Url.Action("Create", "InvoiceItems", new { id = item.Id})" 
                   data-toggle="tooltip" title="Dodaj stavke fakturi"><span class="glyphicon glyphicon-plus"></span></a>
            </span>
            <span>
                <a href="@Url.Action("Details", new { id = item.Id})" 
                   data-toggle="tooltip" title="Prikaži fakturu sa stavkama"><span class="glyphicon glyphicon-resize-full"></span></a>
            </span>
            <span>
                <a href="@Url.Action("Delete", new { id = item.Id })" 
                   data-toggle="tooltip" title="Izbriši fakturu"><span class="glyphicon glyphicon-remove"></span></a>
            </span>
        </td>
    </tr>
}

</table>
